.googleButton {
  margin: auto 0;
  font-size: 25px;
  color: #13381f;
}

.signInText {
  font-size: 20px;
  font-weight: 600;
  color: #13381f;
}

.header {
  margin: auto auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8b547;
  border-radius: 10px;
  gap: 10px;
  width: fit-content;
  height: 50px;
  margin: auto 0;
  padding: 0 15px;
  transform: scale(1);
  transition-timing-function: ease-in-out;
  transition: transform 0.5s;
}

.buttonContainer:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8b547;
  border-radius: 10px;
  gap: 10px;
  width: fit-content;
  height: 50px;
  margin: auto 0;
  padding: 0 15px;
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  transition: transform 0.5s;
}

.li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;
  margin: 32px 0;
  padding: 0;
}

.form {
  width: 100%;
}

.grip {
  margin: auto 20px;
  font-size: 18px;
  transition: color 150ms ease-in-out;
}

.grip:hover {
  color: #d54c54;
  transition: color 150ms ease-in-out;
}

.saveButton {
  border: none;
  background-color: #d44c54;
  color: #f5efdb;
  padding: 25px 0;
  font-weight: 700;
  font-size: 20px;
  border-radius: 15px;
  transition:
    background-color 150ms ease-in-out,
    color 150ms ease-in-out;
}

.saveButton:hover {
  background-color: #f5efdb;
  color: #d44c54;
  transition:
    background-color 150ms ease-in-out,
    color 150ms ease-in-out;
}

.input {
  height: 35px;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition:
    border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #13381f;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
  text-align: start;
}

.input:hover,
.input:focus,
.inputGroup:hover .input {
  outline: none;
  border-color: #13381f;
}

.inputGroup:hover .label,
.input:focus {
  color: #13381f;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}
